extends layout

block content
  
  script(type='text/javascript').

    function encode() {
      text = document.getElementById('text').value;
      if (text)
        window.location.assign('/encode/' + encodeURIComponent(text));
    }

    function decode() {
      image = document.getElementById('image').files[0];
      if (image) {
        var reader = new FileReader();
        reader.onloadend = function() {
          window.location.assign('/decode/' + encodeURIComponent(reader.result));
        }
        reader.readAsDataURL(image);
      }
    }

  h2 Decrypt your image
  input(id='image', type='file')
  button(onclick='decode()', style='margin-left:5px') Decode
